<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="./css/style.css" />
     <title>Anasayfa</title>
</head>

<body>

     <div class="row form">
          <form>
               <div class="form-row">
                    <div class="col-md-12">
                         <input type="text" class="form-control" id="link" placeholder="link">
                    </div>
               </div>
               <fieldset class="form-group">
                    <div class="row">
                         <div class="col-md-12" id="radio">
                              <div class="form-check">
                                   <input class="form-check-input" type="radio" name="radio" id="option1"
                                        value="1" checked>
                                   <label class="form-check-label" for="gridRadios1">
                                        Sepet sahipliğini al ve tüm durumlarda koru
                                   </label>
                              </div>
                              <div class="form-check">
                                   <input class="form-check-input" type="radio" name="radio" id="option1"
                                        value="2">
                                   <label class="form-check-label" for="gridRadios2">
                                        Fiyatını minimumda tut
                                   </label>
                              </div>
                              <div class="form-check">
                                   <input class="form-check-input" type="radio" name="radio" id="option1"
                                        value="3">
                                   <label class="form-check-label" for="gridRadios2">
                                        Fiyatımı maximumda tut
                                   </label>
                              </div>
                         </div>
                    </div>
               </fieldset>
               <div class="form-row">
                    <div class="col">
                         <input type="text" class="form-control" id="changePrice" placeholder="Değişim Fiyatı">
                    </div>
                    <div class="col">
                         <input type="text" class="form-control" id="minPrice" placeholder="Minimum Fiyat">
                    </div>
                    <div class="col">
                         <input type="text" class="form-control" id="maxPrice" placeholder="Maximum Fiyat">
                    </div>
               </div>
               <div class="form-row">
                    <div class="col">
                         <input type="text" class="form-control" id="productName" placeholder="productName">
                    </div>
                    <div class="col">
                         <input type="text" class="form-control" id="productBarcode" placeholder="productBarcode">
                    </div>
                    <div class="col">
                         <input type="text" class="form-control" id="maxPrice" placeholder="productStockCode">
                    </div>
               </div>
               <div class="form-row">
                    <div class="col">
                         <input type="text" class="form-control" id="customerID" placeholder="customerID">
                    </div>
               </div>
               <div class="form-group row">
                    <div class="col-sm-10">
                         <button type="button" class="btn btn-primary" id="saveBtnProduct">Save</button>
                    </div>
               </div>
          </form>
     </div>

</body>


<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
     integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
     integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
     integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
     integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<script type="text/javascript">
     $('#saveBtnProduct').click(function () {

          var option =  $("input[type='radio'][name='radio']:checked").val();
          var changePrice = $("#changePrice").val();
          var minPrice = $("#minPrice").val();
          var maxPrice = $("#maxPrice").val();
          var link = $("#link").val();
          var productName = $("#productName").val();
          var productBarcode = $("#productBarcode").val();
          var productStockCode = $("#productStockCode").val();
          var customerID = $("#customerID").val();


          $.ajax({
               url: '/trendyolPriceModul',
               type: 'POST',
               cache: false,
               data: {
                    option : option,
                    changePrice : changePrice,
                    minPrice : minPrice,
                    maxPrice : maxPrice,
                    link : link,
                    productName : productName,
                    productBarcode : productBarcode,
                    productStockCode : productStockCode,
                    customerID : customerID,


               },
               success: function (data) {
                    alert('Success!')
               },
               error: function (jqXHR, textStatus, err) {
                    alert('text status ' + textStatus + ', err ' + err)
               }
          })
     });
</script>

</html>